<footer class="bg-white rounded-lg shadow dark:bg-gray-900">
  <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8 flex flex-col md:flex-row justify-between items-start">
    <div class="flex flex-col gap-4">
      <h3 class="text-2xl font-semibold">Contactez-nous</h3>
      <div class="grid gap-2">
        <div class="flex items-center gap-2">

          <p class="text-gray-700 dark:text-gray-300"><i class="fa-solid fa-location-pin"></i> 123 Rue Principale,
            Ville Pays</p>
        </div>
        <div class="flex items-center gap-2">

          <p href="#" class="text-gray-700 dark:text-gray-300">
            <i class="fa-solid fa-phone"></i>+1 (216) 50 410 659
          </p>
        </div>
        <div class="flex items-center gap-2">

          <p href="#" class="text-gray-700 dark:text-gray-300">
            <i class="fa-regular fa-envelope"></i> info@edi-tunisie.com
          </p>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <img src="/A-logo.png" style="height:140px;" alt="Flowbite Logo" />
    </div>
  </div>
  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
  <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com/"
      class="hover:underline"></a>. Tous droits réservés.</span>
</footer>
