@page "/sidebar"
<div class="sidebar">
  <ul class="nav">
    <li>
      <a href="/post">
        <i class="fa-solid fa-pen-to-square"></i>
        <span>Publier une annonce</span>
      </a>
    </li>
    <li>
      <a href="/Brouillan">
        <i class="fa-solid fa-pen"></i>
        <span>Brouillon </span>
      </a>
    </li>
    <br>
    <li>
      <a href="/encours">
        <i class="fa-solid fa-file"></i>
        <span>En Cours</span>
      </a>
    </li>
    <li>
      <a href="/archive">
        <i class="fa-solid fa-box-archive"></i>
        <span>Archivées</span>
      </a>
    </li>
  </ul>
</div>
