@page "/siMessage"
<div class="sidebar">
  <ul class="nav">
    <li>
      <a href="/">
        <i class="fa-solid fa-pen-to-square"></i>
        <span>Result</span>
      </a>
    </li>

    <br>
    <li>
      <a href="/">
        <i class="fa-solid fa-file"></i>
        <span>En Cours</span>
      </a>
    </li>
    <li>
      <a href="/">
        <i class="fa-solid fa-box-archive"></i>
        <span>Archivées</span>
      </a>
    </li>
  </ul>
</div>