<div class="d-flex top-0">
  <button class="toggle-btn" type="button">
    <i class="lni lni-grid-alt"></i>
  </button>
  <div class="sidebar-logo">
    <a href="#">Assurence</a>
  </div>
</div>
<ul class="sidebar-nav">

  <li class="sidebar-item no-underline">
    <a href="/RequestReponse" class="sidebar-link" style="text-decoration: none;">
      <i class="lni lni-layout"></i>
      <span style="color: #ffff;">Tableau de board</span>
    </a>
  </li>
  <li class="sidebar-item no-underline">
    <a href="/RequesAppelOffre" class="sidebar-link" style="text-decoration: none;">
      <i class="lni lni-agenda"></i>
      <span style="color: #ffff;">Les Appel Offres Proposer</span>
    </a>
  </li>
  <li class="sidebar-item no-underline">
    <a href="/RequestFournisseur" class="sidebar-link" style="text-decoration: none;">
      <i class="lni lni-user text-yellow-400"></i>

      <span style="color: #ffff;" class="no-underline">Demande d'inscriptions fournisseur</span>
    </a>
  </li>
  <li class="sidebar-item no-underline">
    <a href="/RequestClient" class="sidebar-link" style="text-decoration: none;">
      <i class="lni lni-user text-yellow-400"></i>

      <span style="color: #ffff;" class="no-underline">Demande d'inscriptions Client</span>
    </a>
  </li>
  <li class="sidebar-item no-underline">
    <a href="/RequestReponse" class="sidebar-link" style="text-decoration: none;">
      <i class="lni lni-agenda"></i>
      <span style="color: #ffff;">Les Offres Proposer</span>
    </a>
  </li>

</ul>
