.form {
  &-group {
    position: relative;
    margin: 0 0 30px;

    & label {
      position: absolute;
      top: 18px;
      left: 14px;
      z-index: -1;
      color: #999;
      font-size: 10px;
      opacity: 0;
      text-align: right;
      text-transform: uppercase;
      transition: top 0.2s ease;
    }

    .form-control {
      display: block;
      width: 100%;
      height: 42px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      background-color: #fff;
      background-image: none;
      border: 1px solid #cfd8dc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      outline: none;

      &:hover {
        border-color: #a0c4fc;
      }

      &:focus {
        box-shadow: none;
        border-color: #268ff4;
      }
    }

    .suggestion {
      display: none;
      margin: 5px 0 -5px;
      padding-right: 5px;
      color: #999;
      font-style: italic;
      font-size: 13px;
      text-align: right;

      a {
        color: red;
        cursor: pointer;
      }
    }

    .reveal-password {
      display: none;
      position: absolute;
      z-index: 1;
      top: 15px;
      right: 15px;
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.2s ease;

      & .icon {
        width: 18px;
        height: 14px;
        fill: #666;
      }

      &:hover {
      }

      &.active .icon {
        fill: #268ff4;
      }
    }

    &.filled {
      & label {
        position: absolute;
        top: -13px;
        left: 4px;
        z-index: 1;
        font-size: 10px;
        opacity: 1;
        text-align: right;
        text-transform: uppercase;
      }

      & .reveal-password {
        display: block;
      }
    }

    &.error {
      & label {
        color: #f00;
      }

      & .form-control {
        box-shadow: none;
        border-color: #f00;
      }
    }

    &.focus {
      & label {
        color: #3e9bf7;
      }

      & .form-control {
        box-shadow: none;
        border-color: #268ff4;
      }
    }
  }
}

/*--------------------
Signup
--------------------*/
.signup {
  width: 400px;

  h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 20px 26px;
  }

  .form {
    padding: 35px 30px;
    background: #fff;
    box-shadow: 0 15px 12px 0 rgba(0, 0, 0, 0.04),
      0 19px 38px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;
  }
}
